/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11/08/2021, 07:04:44 PM
    Author     : Sebas
*/

*{
    box-sizing: border-box;
}

.overlay {
    background: rgb(0, 0, 0, .3);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}

.overlay.activado {
    visibility: visible;
}

h2 {
    color: #fff;
    text-align: center;
    margin-top: -7px;
}

.form-registro {
    width: 40%;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0px 0px 5px 0px black;
}

.tituloR {
    background: #007bff;
    color: #fff;
    padding: 5px;
    text-align: center;
    font-weight: 100;
    font-size: 15px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom: 5px solid crimson;
}

.tituloR .cerrar-registro {
    font-size: 25px;
    line-height: 0px;
    display: block;
    margin-top: -5px;
    text-align: right;
    color: #BBBBBB;
}

.formulario {
    padding: 10px 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.formulario input {
    margin-bottom: 15px;
    padding: 5px;
    font-size: 15px;
}

.formulario .input-50 {
    width: 45%;
}

.formulario .input-50:hover {
    width: 46%;
    transition: 0.5s;
}

.selector {
    width: 45%;
}

.estilo-selector {
    width: 100%;
    height: 34px;
    overflow: hidden;
    background: #fff;
    border: 1px solid grey;
    font-size: 15px;
    appearance: none;
    padding: 5px;
}

.estilo-selector:hover {
    width: 103%;
    height: 34px;
    overflow: hidden;
    background: #fff;
    border: 1px solid grey;
    font-size: 15px;
    transition: 0.5s;
}

.btn {
    margin-left: 25%;
    width: 50%;
    color: white;
    background: #007bff;
    border: solid 2px #fff;
    border-radius: 5px;
}

.btn:hover {
    background: #4371A3;
    color: #fff;
}