/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 17/05/2021, 06:53:55 PM
    Author     : David
*/
root{
    -primary: #F74A5C;
    -black: #3E3E3E;
    -gray: #8C8C8C;
    -blue:#4285EB;
}

*{
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    color: var(-black);
    margin: 0;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: blanchedalmond;
}

a{
    text-decoration: none;
    color: var(-primary);
}
.contenedor{
    width: 100%;
}
.login{
    background:#ccccff;
    padding: 5%;
    box-shadow: 0 30px 35px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.4) ;
    width: 100% ;
    max-width: 400px;
    margin: 2.4rem auto;
    font-size: larger;
}

button{
    background-color: #4CAF50; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

button hover{
    background-color: rgb(122, 118, 118);
}